:host {
  mat-form-field {
    padding: 1rem;
  }

  .form-wrapper {
    max-width: 470px;
    margin: auto;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .details {
    display: flex;
    flex-direction: row;

    * > {
      flex: 0 0 50%;
    }
  }
}
